@model List<CuocDT.Models.LogInfo>
@{
    /**/

    ViewBag.Title = "Search";
    var ThueBao = (Models.EF.KhachHang)ViewBag.SoDT;
    var HoaDonBySDT = (List<Models.EF.HoaDonCuoc>)ViewBag.HoaDonBySDT;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int M = DateTime.Now.Month;
    int Y = DateTime.Now.Year;


}
@if (ThueBao != null)
{
    <h2>Chi tiết sử dụng của thuê bao: @ThueBao.SoDT  - Chủ sở hữu: @ThueBao.TenKH</h2>
    <p>
        Lưu ý: Cước phí tháng được tính = 50000(*) + Số phút gọi(7h - 23h)x200 + Số phút gọi(23h - 7h)x150(VND)
        (*): Cước thuê bao
    </p>
    <table class="table" id="Table">
        <thead>
            <tr>
                <td>Số điện thoại</td>
                <td>Tháng</td>
                <td>Năm</td>
                <td>Tổng tiền</td>
                <td>Trạng thái</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var hoadon in HoaDonBySDT)
            {
                <tr>
                    <td>@hoadon.SoDT</td>
                    <td>@hoadon.Month</td>
                    <td>@hoadon.Year</td>
                    <td>@hoadon.TongTien.GetValueOrDefault(0).ToString("N0") VND</td>
                    @if (hoadon.TinhTrang == 0)
                    {
                        <td style="color:red">Chưa thanh toán</td>
                    }
                    else
                    {
                        <td style="color:aqua">Đã thanh toán</td>
                    }
                    <td>@Html.ActionLink("Xem chi tiết", "Xemchitiet", new { @Month = hoadon.Month, @sdt = hoadon.SoDT })</td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn-link" href="/Cuoc">Quay lại</a>
}
else
{
    <h1>Không có thuê bao tra cứu</h1>
}

